@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Cabin&family=Lora:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");

.nav-row{
  display: flex;
  width: 100em;
  border:solid;
  justify-content: space-evenly
  
}
.row{
  display:flex;
  padding-left: 20px;
  padding-right: auto;
 
}

.header-container-fluid {
  display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding-top: 40px;
 padding-bottom: 20px;
 background-color:#FAF3ED ;
 font-size: 70px;
 
 font-family: 'Bonheur Royale', cursive;


}
